@font-face {
    font-family: 'MullerBold';
    src: url('/fonts/MullerBold.woff2') format('woff2'),
      url('/fonts/MullerBold.woff') format('woff');
  }
  @font-face {
    font-family: 'MullerLight';
    src: url('/fonts/MullerLight.woff2') format('woff2'),
      url('/fonts/MullerLight.woff') format('woff');
  }
  @font-face {
    font-family: 'MullerMedium';
    src: url('/fonts/MullerMedium.woff') format('woff2'),
    url('/fonts/MullerMedium.woff') format('woff');
  }
  @font-face {
    font-family: 'MullerRegular';
    src: url('/fonts/MullerRegular.woff2') format('woff2'),
    url('/fonts/MullerRegular.woff') format('woff');
  }
